@import "stylr/definements";

// Buttons
@mixin stylr-button($default-color: #e6e6e6, $primary-color: $stylr-color-primary, $danger-color: #9d261d) {
  $background-color: $default-color;
  $border-color:     darken($background-color, 10%);
  $gradient:         linear-gradient(lighten($background-color, 10%), lighten($background-color, 10%) .25, $background-color);

  @include inline-block;
  @include border-radius(4px);
  @include background-image($gradient);
  @include single-transition(all, 0.1s, linear);

  background-color: $background-color;
  background-repeat: no-repeat;
  padding: 4px 14px;
  margin: 0;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
  font-family: $stylr-font-family;
  font-size: $stylr-font-size;
  line-height: $stylr-line-height;
  border: 1px solid $border-color;
  border-bottom-color: darken($border-color, 5%);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-position: 0 -.8em;
    text-decoration: none;
  }

  &:active {
    $inset-shadow: $border-color 0 1px 3px inset;
    @include box-shadow($inset-shadow);
    text-decoration: none;
  }

  &.primary {
    $background-color: $primary-color;
    $border-color:     darken($background-color, 10%);
    $gradient:         linear-gradient(lighten($background-color, 10%), lighten($background-color, 10%) .25, $background-color);

    @include background-image($gradient);
    background-color: $background-color;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border: 1px solid $border-color;
    border-bottom-color: darken($border-color, 5%);

    &:active {
      $inset-shadow: $border-color 0 1px 3px inset;
      @include box-shadow($inset-shadow);
    }
  }

  &.danger {
    $background-color: $danger-color;
    $border-color:     darken($background-color, 5%);
    $gradient:         linear-gradient(lighten($background-color, 10%), lighten($background-color, 10%) .25, $background-color);

    @include background-image($gradient);
    background-color: $background-color;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border: 1px solid $border-color;
    border-bottom-color: darken($border-color, 5%);

    &:active {
      $inset-shadow: $border-color 0 1px 3px inset;
      @include box-shadow($inset-shadow);
    }
  }

  &.large {
    font-size: 120%;
    line-height: 120%;
    @include border-radius(6px);
  }

  &.small {
    font-size: 90%;
    line-height: 90%;
    @include border-radius(3px);
  }

  &.disabled,
  &:disabled {
    @include opacity(.65);
    cursor: default;

    &:hover {
      background-position: 0;
    }

    &:active {
      @include box-shadow(none);
    }
  }

  // Help Firefox not be a jerk about adding extra padding to buttons
  &::-moz-focus-inner {
      border: 0;
      padding: 0;
  }
}