@import "stylr/base";

$stylr-button-default-text-color: #333 !default;
$stylr-button-default-start-color: #f5f5f5 !default;
$stylr-button-default-end-color: #ddd !default;

$stylr-button-primary-text-color: #fff !default;
$stylr-button-primary-start-color: lighten($stylr-primary-color, 10%) !default;
$stylr-button-primary-end-color: $stylr-primary-color !default;

$stylr-button-info-text-color: #fff !default;
$stylr-button-info-start-color: #62CFFC !default;
$stylr-button-info-end-color: darken(#62CFFC, 15%) !default;

$stylr-button-danger-text-color: #fff !default;
$stylr-button-danger-start-color: #ee5f5b !default;
$stylr-button-danger-end-color: #c43c35 !default;

$stylr-button-success-text-color: #fff !default;
$stylr-button-success-start-color: #62c462 !default;
$stylr-button-success-end-color: #57a957 !default;

$stylr-button-dark-text-color: #fff !default;
$stylr-button-dark-start-color: #333 !default;
$stylr-button-dark-end-color: darken(#333, 15%) !default;

// button
@mixin stylr-button() {
  // ------
  // basics
  // ------
  @include nested-reset();
  cursor: pointer;
  @include inline-block();
  vertical-align: baseline;
  font-size: $stylr-font-size;
  line-height: normal; // we need to use padding alone, because FF limit line-height by default
  font-family: $stylr-font-family;
  padding: 5px 14px;
  margin: 0;
  background-repeat: no-repeat;
  &::-moz-focus-inner { border: 0; padding: 0; } // Help Firefox not be a jerk about adding extra padding to buttons
  @include border-radius(4px);
  @include single-transition(all, 0.1s, linear);
  text-decoration: none;

  // --------------------
  // the "default" button
  // --------------------
  @include stylr-util-gradient-bar(
    $text-color: $stylr-button-default-text-color,
    $start-color: $stylr-button-default-start-color,
    $end-color: $stylr-button-default-end-color
  );

  // --------------------
  // the "primary" button
  // --------------------
  &.primary {
    @include stylr-util-gradient-bar(
      $text-color: $stylr-button-primary-text-color,
      $start-color: $stylr-button-primary-start-color,
      $end-color: $stylr-button-primary-end-color
    );
  }

  // -----------------
  // the "info" button
  // -----------------
  &.info {
    @include stylr-util-gradient-bar(
      $text-color: $stylr-button-info-text-color,
      $start-color: $stylr-button-info-start-color,
      $end-color: $stylr-button-info-end-color
    );
  }

  // -------------------
  // the "danger" button
  // -------------------
  &.danger {
    @include stylr-util-gradient-bar(
      $text-color: $stylr-button-danger-text-color,
      $start-color: $stylr-button-danger-start-color,
      $end-color: $stylr-button-danger-end-color
    );
  }

  // --------------------
  // the "success" button
  // --------------------
  &.success {
    @include stylr-util-gradient-bar(
      $text-color: $stylr-button-success-text-color,
      $start-color: $stylr-button-success-start-color,
      $end-color: $stylr-button-success-end-color
    );
  }

  // -----------------
  // the "dark" button
  // -----------------
  &.dark {
    @include stylr-util-gradient-bar(
      $text-color: $stylr-button-dark-text-color,
      $start-color: $stylr-button-dark-start-color,
      $end-color: $stylr-button-dark-end-color
    );
  }

  // ------
  // states
  // ------

  // focus state for keyboard and accessibility
  &:focus {
    outline: 1px dotted #666;
  }

  // hover state
  &:hover {
    text-decoration: none;
    background-position: 0 -15px;
  };

  // active state
  &:active {
    @include box-shadow(
      rgba(#000, .25) 0 2px 4px inset,
      rgba(#000, .05) 0 1px 2px
    );
  }

  // disabled state
  &.disabled,
  &:disabled {
    @include box-shadow(none);
    @include opacity(.65);
    cursor: default;
    pointer-events: none;

    &:hover {
      background-position: 0;
    }
  }

  // -----
  // sizes
  // -----
  &.large {
    @include border-radius(6px);
    font-size: $stylr-font-size + 2px;
    padding: 9px 14px;
  }

  &.small {
    font-size: $stylr-font-size - 2px;
    padding: 5px 9px;
  }

  &.xsmall {
    font-size: $stylr-font-size - 2px;
    padding: 2px 4px;
  }
}

// dropdown button
@mixin stylr-button-dropdown {
  @include stylr-button();
  @include stylr-util-dropdown-arrow(#333);
  position: relative;

  a {
    text-decoration: none;
    color: $stylr-button-default-text-color;
  }

  &.primary,
  &.info,
  &.success,
  &.danger,
  &.dark {
    @include stylr-util-dropdown-arrow(#fff);
  }

  > ul {
    @include stylr-util-dropdown-panel();
  }
}
