@import "compass/css3";

$stylr-color-primary: #026db5;
$stylr-color-secondary: #f89406;
$stylr-color-text: #333;
$stylr-color-text-light: lighten($stylr-color-text, 50%);

$stylr-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$stylr-font-size: 13px;
$stylr-line-height: 18px;

