@import 'stylr/base';

@mixin stylr-table {
  @include leader(1);
  @include trailer(1);
  @include border-radius(4px);
  @include single-box-shadow(rgba(0, 0, 0, .2), 0, 1px, 4px);
  width: 100%;
  padding: 0;
  border-collapse: separate;
  font-size: $stylr-font-size;
  line-height: $stylr-line-height;
  border: 1px solid $stylr-gray-color;

  th, td {
    padding: 10px 10px 9px;
    line-height: $stylr-line-height * .75;
    text-align: left;
    vertical-align: middle;
  }

  td {
    border-top: 1px solid $stylr-gray-color;
  }

  th {
    padding-top: 9px;
    font-weight: bold;
    border-bottom: 1px solid $stylr-gray-color;
  }

  &.row-hover {
    tbody {
      tr:hover td {
        background-color: lighten($stylr-primary-color, 45%);
      }
    }
  }

  &.zebra-striped {
    tbody {
      tr:nth-child(odd) td {
        background-color: $stylr-light-gray-color;
      }
    }
  }
}