@import "stylr/base";

// global reset
@include global-reset();

// globally set a vertical rhythm
$base-font-size: $stylr-font-size;
$base-line-height: $stylr-line-height;
@include establish-baseline;

// typography mixin
@mixin stylr-typography($use-body: false) {

  // =========
  // body text
  // =========

  @if $use-body == true {
    body {
      font-family: $stylr-font-family;
      font-weight: normal;
      color: $stylr-text-color;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased; // http://maxvoltar.com/archive/-webkit-font-smoothing
    }

    html,
    body {
      height: 100%;
    }
  }

  a {
    text-decoration: none;
    color: $stylr-primary-color;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    @include adjust-font-size-to($stylr-font-size);
    @include leader(1);
    @include trailer(1);

    &.muted {
      color: $stylr-muted-text-color;
    }
  }

  // ========
  // headings
  // ========

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: $stylr-text-color;
    small {
      color: $stylr-muted-text-color;
    }
  }

  h1 {
    @include adjust-font-size-to($stylr-font-size * 2.5);
    small {
      @include adjust-font-size-to($stylr-font-size / 1.7);
    }
  }

  h2 {
    @include adjust-font-size-to($stylr-font-size * 2.0);
    small {
      @include adjust-font-size-to($stylr-font-size / 1.7);
    }
  }

  h3 {
    @include adjust-font-size-to($stylr-font-size * 1.7);
    small {
      @include adjust-font-size-to($stylr-font-size / 1.5);
    }
  }

  h4 {
    @include adjust-font-size-to($stylr-font-size * 1.4);
    small {
      @include adjust-font-size-to($stylr-font-size / 1.3);
    }
  }

  h5 {
    @include adjust-font-size-to($stylr-font-size * 1.2);
    small {
      @include adjust-font-size-to($stylr-font-size / 1.1);
    }
  }

  h6 {
    @include adjust-font-size-to($stylr-font-size * 1.1);
    small {
      @include adjust-font-size-to($stylr-font-size / 1.2);
    }
  }

  // ============================
  // inline and block code styles
  // ============================

  code, pre {
    @include adjust-font-size-to($stylr-font-size / 1.1);
    @include border-radius(4px);
    font-family: Monaco, Andale Mono, Courier New, monospace;
  }

  code {
    background-color: lighten($stylr-primary-color, 45%);
    padding: 1px 3px;
  }

  pre, pre.prettyprint {
    @include leader(1);
    @include trailer(1);
    @include single-box-shadow(rgba(0, 0, 0, .2), 0, 1px, 4px);
    overflow: auto;
    background: lighten($stylr-primary-color, 45%);
    padding: 9px;
    border: 1px solid $stylr-gray-color;
  }

  // colors for the syntax highlighter
  .com { color: #484F4F; }
  .lit { color: #195f91; }
  .pun,
  .opn,
  .clo { color: #484F4F; }
  .fun { color: #dc322f; }
  .str,
  .atv { color: #268bd2; }
  .kwd,
  .tag { color: #195f91; }
  .typ,
  .atn,
  .dec,
  .var { color: #CB4B16; }
  .pln { color: #484F4F; }

  // line numbering
  ol.linenums {
    margin: 0 0 0 30px;
    li {
      color: #484F4F;
    }
  }

  // ===========================
  // unordered and ordered lists
  // ===========================

  ul,
  ol {
    @include leader(1);
    @include trailer(1);
    margin-left: 20px;
    ul,
    ol {
      margin: 0 0 0 20px;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    line-height: $stylr-line-height;
  }

  ul.unstyled {
    list-style: none;
  }

  dl {
    @include leader(1);
    @include trailer(1);
    dt, dd {
      line-height: $stylr-line-height;
    }
    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 15px;
    }
  }

  // ====
  // misc
  // ====

  hr {
    @include leader(1);
    @include trailer(1);
    border: 1px solid $stylr-gray-color;
  }

  strong {
    font-style: inherit;
    font-weight: bold;
    line-height: inherit;
  }

  em {
    font-style: italic;
    font-weight: inherit;
    line-height: inherit;
  }

  blockquote {
    @include leader(1);
    @include trailer(1);
    border-left: 5px solid $stylr-gray-color;
    padding-left: 15px;

    p {
      font-size: 110%;
    }

    small {
      display: block;
      font-size: 90%;
      color: $stylr-muted-text-color;
      &:before {
        content: '\2014 \00A0';
      }
    }
  }

  address {
    display: block;
    line-height: $stylr-line-height * .8;
    @include leader(1);
    @include trailer(1);
  }

} // end mixin

// inline labels
@mixin stylr-inline-labels() {
  padding: 1px 3px 2px;
  background-color: #bfbfbf;
  font-size: $stylr-font-size * .75;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  @include border-radius(3px);

  &.important { background-color: #C43C35; }
  &.warning   { background-color: #F89406; }
  &.success   { background-color: #46A546; }
  &.notice    { background-color: #62CFFC; }
}
