<section id="utils">
  <h3>Utils</h3>
  <p>The ultils module is used internally and provides some helpful tools. You can use it
  in your apps too.</p>

  <h4>@mixin stylr-util-gradient-bar()</h4>
  <p>This mixin generates a bar with linear gradient and an optional border and box shadow. It
  is used as the basis for the buttons and the topbar for example.</p>

  <p><strong>Global default variables</strong></p>
  <ul>
  	<li>
  		<code>$stylr-util-gradient-bar-text-color: #333 !default;</code>	
  	</li>
  	<li>
  		<code>$stylr-util-gradient-bar-start-color: #f5f5f5 !default;</code>	
  	</li>
  	<li>
  		<code>$stylr-util-gradient-bar-end-color: #ddd !default;</code>	
  	</li>
  	<li>
  		<code>$stylr-util-gradient-bar-use-border: true !default;</code>	
  	</li>
  	<li>
  		<code>$stylr-util-gradient-bar-use-box-shadow: true !default;</code>	
  	</li>
  	<li>
  		<code>$stylr-util-gradient-bar-use-text-shadow: true !default;</code>	
  	</li>
  </ul>

  <p>
  	<strong>Optional Parameters (with defaults)</strong>
  </p>

  <ul>
  	<li>
  		<code>$text-color: $stylr-util-gradient-bar-text-color,</code>	
  	</li>
  	<li>
  		<code>$start-color: $stylr-util-gradient-bar-start-color,</code>	
  	</li>
  	<li>
  		<code>$end-color: $stylr-util-gradient-bar-end-color,</code>	
  	</li>
  	<li>
  		<code>$use-border: $stylr-util-gradient-bar-use-border,</code>	
  	</li>
  	<li>
  		<code>$use-box-shadow: $stylr-util-gradient-bar-use-box-shadow,</code>	
  	</li>
  	<li>
  		<code>$use-text-shadow: $stylr-util-gradient-bar-use-text-shadow</code>	
  	</li>
  </ul>

  <h4>@mixin stylr-util-dropdown-arrow()</h4>
  <p>This mixin renders a nice 'dropdown arrow' using oberlapping borders.</p>

  <p>
  	<strong>Global default variables</strong>
  </p>
  <ul>
  	<li>
  		<code>$stylr-util-dropdown-arrow-color: $stylr-text-color !default;</code>	
  	</li>
  </ul>

  <p>
  	<strong>Optional Parameters (with defaults)</strong>
  </p>

  <ul>
  	<li>
  		<code>$color: $stylr-util-dropdown-arrow-color</code>
  	</li>
  </ul>


  <h4>@mixin stylr-util-dropdown-panel()</h4>
  <p>A panel used for dropdown menus.</p>

  <p>
  	<strong>Global default variables</strong>
  </p>
  <ul>
    <li>
      <code>$stylr-util-dropdown-panel-text-color: $stylr-text-color !default;</code>
    </li>
    <li>
      <code>$stylr-util-dropdown-panel-start-color: #f5f5f5 !default;</code>
    </li>
    <li>
      <code>$stylr-util-dropdown-panel-end-color: #ddd !default;</code>
  	</li>
  </ul>

  <p>
  	<strong>Optional Parameters (with defaults)</strong>
  </p>

  <ul>
    <li>
      <code>$text-color: $stylr-util-dropdown-panel-text-color,</code>
    </li>
    <li>
      <code>$start-color: $stylr-util-dropdown-panel-start-color,</code>
    </li>
    <li>
      <code>$end-color: $stylr-util-dropdown-panel-end-color</code>
  	</li>
  </ul>

</section>
