@import "compass/css3";

$kicker-color-primary: #026db5;
$kicker-color-secondary: #f89406;
$kicker-color-text: #333;
$kicker-color-text-light: lighten($kicker-color-text, 50%);

$kicker-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$kicker-font-size: 13px;
$kicker-line-height: 18px;

