<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'stylr/docs/application', :media => 'screen, print' %>
  <%= javascript_include_tag 'stylr/docs/application' %>
</head>
<body>

<%= yield %>

</body>
</html>
