<section id="buttons">
  <h1 class="section-header">Buttons</h1>

  <div class="container">
    <div class="sidebar">
      <h2>Buttons</h2>
      <p>As a convention, buttons are used for actions while links are used for objects. For instance, "Download" could be a button and "recent activity" could be a link.</p>
      <p>All buttons default to a light gray style, but a blue <code>.primary</code> class is available. Plus, rolling your own styles is easy peasy.</p>
    </div>

    <div class="content">
      <h3>Example buttons</h3>
      <div class="well">
        <button type="submit" class="button primary">Submit</button>
        <button type="submit" class="button danger">Delete</button>
        <button type="submit" class="button">Cancel</button>
        <a href="#" class="button">A Link as button</a>
      </div>

      <h3>Large</h3>
      <div class="well">
        <button type="submit" class="button primary large">Submit</button>
        <button type="submit" class="button danger large">Delete</button>
        <button type="submit" class="button large">Cancel</button>
        <a href="#" class="button large">A Link as button</a>
      </div>

      <h3>Small</h3>
      <div class="well">
        <button type="submit" class="button primary small">Submit</button>
        <button type="submit" class="button danger small">Delete</button>
        <button type="submit" class="button small">Cancel</button>
        <a href="#" class="button small">A Link as button</a>
      </div>

      <h3>Disabled</h3>
      <div class="well">
        <button type="submit" class="button primary" disabled>Submit</button>
        <button type="submit" class="button danger" disabled>Delete</button>
        <button type="submit" class="button" disabled>Cancel</button>
        <a href="#" class="button disabled">A Link as button</a>
      </div>
    </div>
  </div>
</section>