<section id="forms">
  <h1 class="section-header">Forms</h1>

  <div class="container">
    <div class="sidebar">
      <h2>Default styles</h2>
      <p>All forms are given default styles to present them in a readable and scalable way. Styles are provided for text inputs, select lists, textareas, radio buttons and checkboxes, and buttons.</p>
    </div>

    <div class="content">
      <form>
        <fieldset>
          <legend>Example form legend</legend>

          <div class="container">
            <label for="someinput">Input</label>
            <div class="input">
              <input id="someinput" name="someinput" size="30" type="text" placeholder="Some placeholder" />
              <span class="help-inline">Some inline help</span>
            </div>
          </div>

          <div class="container">
            <label for="normalSelect">Select</label>
            <div class="input">
              <select name="normalSelect" id="normalSelect">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="container">
            <label>Uneditable Input</label>
            <div class="input">
              <span class="uneditable-input">Some Value Here</span>
            </div>
          </div>

          <div class="container">
            <label for="disabledInput">Disabled Input</label>
            <div class="input">
              <input class="disabled" id="disabledInput" name="disabledInput" size="30" type="text" placeholder="Disabled input here. carry on." disabled />
            </div>
          </div>

          <div class="container error">
            <label for="errorinput">Error Input</label>
            <div class="input">
              <input class="error" id="errorinput" name="errorinput" size="30" type="text" />
              <span class="help-inline">Small snippet of help text</span>
            </div>
          </div>

          <div class="container">
            <label for="textarea">Textarea</label>
            <div class="input">
              <textarea class="xxlarge" id="textarea" name="textarea"></textarea>
              <span class="help-block">
                Block of help text to describe the field above if need be.
              </span>
            </div>
          </div>

          <div class="container">
            <label for="prependedInput">Prepended Text</label>
            <div class="input">
              <div class="input-prepend">
                <span class="add-on">@</span>
                <input class="large" id="prependedInput" name="prependedInput" size="16" type="text" />
              </div>
            </div>
          </div>

          <div class="container">
            <label for="xlInput">File Input</label>
            <div class="input">
              <input class="input-file" id="fileInput" name="fileInput" type="file" />
            </div>
          </div>

          <div class="container">
            <label id="optionsCheckboxes">List of Options</label>
            <div class="input">
              <ul class="inputs-list">
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option1" />
                    <span>Option one is this and that&mdash;be sure to include why it’s great</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" />
                    <span>Option two can also be checked and included in form results</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox" name="optionsCheckboxes" value="option2" />
                    <span>Option three can&mdash;yes, you guessed it&mdash;also be checked and included in form results</span>
                  </label>
                </li>
                <li>
                  <label class="disabled">
                    <input type="checkbox" name="optionsCheckboxes" value="option2" disabled />
                    <span>Option four cannot be checked as it is disabled.</span>
                  </label>
                </li>
              </ul>
              <span class="help-block">
                <strong>Note:</strong> Labels surround all the options for much larger click areas and a more usable form.
              </span>
            </div>
          </div>

          <div class="container">
            <label>Inline inputs</label>
            <div class="input">
              <div class="inline-inputs">
                <input class="small" type="text" value="May 1, 2011" />
                <input class="mini" type="text" value="12:00am" />
                to
                <input class="small" type="text" value="May 8, 2011" />
                <input class="mini" type="text" value="11:59pm" />
                <span class="help-block">All times are shown as Pacific Standard Time (GMT -08:00).</span>
              </div>
            </div>
          </div>

          <div class="actions">
            <button type="submit" class="button primary">Save Changes</button>
            <button type="reset" class="button">Cancel</button>
            <a href="#">Cancel</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>