<section id="navigation">
  <h1 class="section-header">Navigation</h1>

  <div class="container">
    <h2 class="title">Menu</h2>

    <div class="content">
      <div class="menu1">
        <%= render 'menu' %>
      </div>
<pre class="prettyprint linenums">
&lt;div class="menu1"&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href="#"&gt;Item 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Item 2&lt;/a&gt;&lt;/li&gt;
    &lt;li class="dropdown"&gt;
      &lt;a href="#"&gt;Dropdown&lt;/a&gt;
      &lt;ul&gt;
        &lt;li&gt;&lt;a href="#"&gt;Sub-Item 1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Sub-Item 2&lt;/a&gt;&lt;/li&gt;
        &lt;li class="divider"&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Sub-Item 3&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class="raw"&gt;
      Some raw text
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
    </div>
  </div>

  <div class="container">
    <h2 class="title">Topbar</div>

    <div class="content no-sidebar">
      <h3>Default</h3>

      <div class="topbar1">
        <h1>App Title</h1>

        <div class="menu">
          <%= render 'menu' %>
        </div>

        <div class="sub-area">
          <div class="menu">
            <ul>
              <li class="dropdown">
                <a href="#">Dropdown</a>
                <ul>
                  <li><a href="#">Sub-Item 1</a></li>
                  <li><a href="#">Sub-Item 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sub-Item 3</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

<pre class="prettyprint linenums">
&lt;div class="topbar1"&gt;
  &lt;h1&gt;App Title&lt;/h1&gt;

  &lt;div class="menu"&gt;
    ...
  &lt;/div&gt;

  &lt;div class="sub-area"&gt;
    &lt;div class="menu"&gt;
      &lt;ul&gt;
        &lt;li class="dropdown"&gt;
          &lt;a href="#"&gt;Dropdown&lt;/a&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href="#"&gt;Sub-Item 1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Sub-Item 2&lt;/a&gt;&lt;/li&gt;
            &lt;li class="divider"&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href="#"&gt;Sub-Item 3&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

      <h3>Primary color</h3>
      <div class="topbar2">
        <h1>App Title</h1>

        <div class="menu">
          <%= render 'menu' %>
        </div>

        <div class="sub-area">
          <span>
            Search
          </span>
          <form action="#">
            <input type="text" placeholder="search for" />
            <input type="submit" value="Go" class="small" />
          </form>
        </div>
      </div>
<pre class="prettyprint linenums">
&lt;div class="topbar2"&gt;
  &lt;h1&gt;App Title&lt;/h1&gt;

  &lt;div class="menu"&gt;
    ...
  &lt;/div&gt;

  &lt;div class="sub-area"&gt;
    &lt;span&gt;
      Search
    &lt;/span&gt;
    &lt;form action="#"&gt;
      &lt;input type="text" placeholder="search for" /&gt;
      &lt;input type="submit" value="Go" class="small" /&gt;
    &lt;/form&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>

    </div>
  </div>

  <div class="container">
    <h2 class="title">Tabs</h2>

    <div class="content">
      <h3>Default</h3>
      <ul class="tabs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li class="active"><a href="#">Messages</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="tabs"&gt;
  &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Profile&lt;/a&gt;&lt;/li&gt;
  &lt;li class="active"&gt;&lt;a href="#"&gt;Messages&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Settings&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>

      <h3>Pill style</h3>
      <ul class="pills">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li class="active"><a href="#">Messages</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
<pre class="prettyprint linenums">
&lt;ul class="pills"&gt;
  &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Profile&lt;/a&gt;&lt;/li&gt;
  &lt;li class="active"&gt;&lt;a href="#"&gt;Messages&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Settings&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>
    </div>
  </div>
</section>
